.jumbotron{
    margin-top: 40px;
    margin-bottom: 0px;
    background: #c1002A;
    color: white;
    padding-left: 30px;
    border-radius: 0px;
}

.register_div{
    background-color: #f7f7e9;
    padding-top: 30px;
    margin-bottom: 200px;
}

.register_div h1, p{
    padding-top: 10px;
    padding-left: 50px;
}

form{
    width: 60%;
    margin: 0 auto;
    padding: 10px 30px 60px;
}

form, input{
    border-radius: 0px;
}

button{
    margin-top: 15px;
    padding: 10px 0px;
    width: 100%;
    border-radius: 0px;
    box-shadow:0px 0px 7px #FFFFFF;
    background-color: #8ad49d;
    border-color: #8ad49d;
}

button:hover{
    background-color: #c2f0ce;
    border-color: #c2f0ce;
}

a{
    margin-top: 15px;
    display: block;
    text-align: center;
}
