<div class="jumbotron">
  <h1>Projet WEB CNAM</h1>
  <p>Projet Web e.Commerce.</p>
</div>

<div class="register_div">
  <h1>S'inscrire</h1>
  <p>Inscrivez-vous dès maintenant afin de pouvoir utiliser toutes les fonctionnalités de la boutique en ligne.</p>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" formControlName="nom" class="form-control" id="nom"  placeholder="Nom">
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" formControlName="prenom" class="form-control" id="prenom" placeholder="Prénom">
      </div>
      <div class="form-group">
          <label for=email></label>
          <input type="email" formControlName="email" class="form-control" id="email" placeholder="Adresse e-mail">
      </div>
      <div class="form-group">
        <label for=mdp>Mot de passe</label>
        <input type="password" formControlName="mdp" class="form-control" id="mdp" placeholder="Mot de passe">
      </div>
      <div class="form-group">
        <label for=adresse>Adresse</label>
        <input type="text" formControlName="adresse" class="form-control" id="adresse" placeholder="Adresse">
      </div>
      <div class="form-group">
        <label for=ville>Ville</label>
        <input type="text" formControlName="ville" class="form-control" id="ville" placeholder="Ville">
      </div>
      <div class="form-group">
        <label for=cp>Code postal</label>
        <input type="number" formControlName="cp" pattern="[0-9]{5}" class="form-control" id="cp" placeholder="Code postal">
      </div>
      <button type="submit" class="btn btn-primary">S'inscrire</button>
      <a routerLink="/" routerLinkActive="active" >Revenir à la page de connexion</a>
  </form>
</div>