<div class="jumbotron">
  <h1>Projet WEB CNAM</h1>
  <p>Projet Web e.Commerce</p>
</div>

<div class="login-div">
  <h1>Se connecter</h1>
  <p>Connectez-vous dès maintenant afin de visiter la boutique en ligne !</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="form-group">
      <label for="username">E-mail</label>
      <input id="username" type="text" formControlName="username" class="form-control" />
    </div>
    <div class="form-group"></div>
      <label for="password">Mot de passe</label>
      <input id="password" type="password" formControlName="password" class="form-control"/>
    <button  class="btn btn-primary">
      Se connecter
    </button>
    <a routerLink="/register" routerLinkActive="active" >Pas encore de compte ? S'inscrire</a>
  </form>
</div>
