.jumbotron{
    background-color: #eb4d60;
    color: aliceblue;
    border-radius: 0px;
    margin: 0px;
    padding: 20px 10px 10px;
    width: 100%;
}

.jumbotron h1,p{
    margin: 20px;
}

.bg-light {
    background-color: #fccad0 !important;
}