.card{
    margin: 10 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

a{
    margin: 0 auto;
    padding: 10px 0px;
    width: 100%;
    border-radius: 0px;
    background-color: #8ad49d;
    border-color: #8ad49d;
}

a:hover{
    background-color: #c2f0ce;
    border-color: #c2f0ce;
}