<div class="card" style="width: 15rem;">
    <img src="{{ imageUrl }}" class="card-img-top" alt="Image de tee-shirt">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">{{ description }}</p>
      <a [routerLink]="['/products', id]" routerLinkActive="active" class="btn btn-primary">Info produit</a>
    </div>
</div>