<app-header-nav></app-header-nav>
<div class="product-info" *ngIf="!loading">
    <div class="container">
        <div class="left">
            <img src="{{ product.imageUrl }}" alt="" width="500" height="600" margin="0 auto">
        </div>
        <div class="right">
            <h3 class="title">
                {{ product.title }}
            </h3>
            <p>
                {{ product.description }}
            </p>
            <h2>
                Prix : {{ product.price }} €
            </h2>
            <a [routerLink]="['/products']" routerLinkActive="active" class="btn btn-primary">Retour à la boutique</a>
        </div>
    </div>
</div>
