.product-info{
    background-color: #f7f7e9;
    margin-top: 50px;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 200px;
}

.title{
    margin: 20px 0px;
    text-align: center;
}

div{
    color: #000000;
    padding: 10px;
}
.container{
    background-color:#eb4d60;
    display:flex;
}

.left{
    background-color:#FFFFFF;
}

.right{
    background-color: #fccad0;
    flex-grow: 1;
}

.right p{
    padding-top: 20px;
    margin: 20px 30px;
    font-size: 18px;
}

.right h2{
    padding-top: 20px;
    margin: 20px 30px;
}

a{
    margin: 0 auto;
    display: block!important;
    text-align: center!important;
    margin-top: 15px!important;
    padding: 10px 0px!important;
    width: 80%!important;
    border-radius: 0px!important;
    background-color: #8ad49d!important;
    border-color: #8ad49d!important;
}

a:hover{
    background-color: #c2f0ce!important;
    border-color: #c2f0ce!important;
}
