h2 {
    margin: 50px 0px;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}

.card-deck{
    background-color: #f7f7e9;
    margin-top: 50px;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 200px;
}
