<app-header-nav></app-header-nav>
<h2>Liste des produits</h2>
<div class="card-deck">
    <div *ngFor="let product of products">
        <app-article-card id="{{product.id}}" title="{{ product.title }}" description="{{ product.description }}" imageUrl="{{ product.imageUrl }}"></app-article-card>
    </div>
</div>
